In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from scipy.stats import pearsonr, spearmanr

import env
import wrangle
import sklearn.preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import sklearn.preprocessing

In [2]:
df = wrangle.get_zillow_data()

In [3]:
df = wrangle.prepare_zillow_data(df)

In [8]:
df.head(1)

,Number_of_Bedrooms,Number_of_Bathrooms,Square_Footage,Tax_Appraised_Value,Year_Built,Tax_Assessed,County
4,4,2.0,3633,296425,2005,6941.39,Los Angeles County

In [5]:
train, validate, test = wrangle.split_zillow_data(df)

In [6]:
train_scaled = wrangle.scale_zillow_data(train)

In [9]:
train_scaled.head(1)

,Number_of_Bedrooms,Number_of_Bathrooms,Square_Footage,Tax_Appraised_Value,Year_Built,Tax_Assessed,County
2014110,-1.343287,-0.177827,0.213636,412297,1956,5127.84,Los Angeles County

In [16]:
X_train = train_scaled.drop(columns ='Tax_Appraised_Value')
y_train = train_scaled['Tax_Appraised_Value']

X_validate = validate.drop(columns ='Tax_Appraised_Value')
y_validate = validate['Tax_Appraised_Value']

X_test = test.drop(columns ='Tax_Appraised_Value')
y_test = test['Tax_Appraised_Value']

In [18]:
X_train.head(1)

,Number_of_Bedrooms,Number_of_Bathrooms,Square_Footage,Year_Built,Tax_Assessed,County
2014110,-1.343287,-0.177827,0.213636,1956,5127.84,Los Angeles County

In [19]:
y_train = pd.DataFrame(y_train)
y_validate = pd.DataFrame(y_validate)

In [20]:
y_train['TAV_pred_mean'] = round(train_scaled.Tax_Appraised_Value.mean(),2)
y_validate['TAV_pred_mean'] = round(train_scaled.Tax_Appraised_Value.mean(),2)

In [21]:
y_train['TAV_pred_median'] = round(train_scaled.Tax_Appraised_Value.median(),2)
y_validate['TAV_pred_median'] = round(train_scaled.Tax_Appraised_Value.median(),2)

In [22]:
y_train.head(1)

         Tax_Appraised_Value  TAV_pred_mean  TAV_pred_median
2014110               412297      460758.59         328869.5

In [28]:
rmse_train = mean_squared_error(y_train.Tax_Appraised_Value, y_train.TAV_pred_mean)**(1/2)
rmse_validate = mean_squared_error(y_validate.Tax_Appraised_Value, y_validate.TAV_pred_mean)**(1/2)

In [29]:
print("RMSE using Mean\nTrain/In-Sample: ", round(rmse_train, 2), 
      "\nValidate/Out-of-Sample: ", round(rmse_validate, 2))

RMSE using Mean
Train/In-Sample:  678443.13
Validate/Out-of-Sample:  687825.15

In [30]:
rmse_train = mean_squared_error(y_train.Tax_Appraised_Value, y_train.TAV_pred_median)**(1/2)
rmse_validate = mean_squared_error(y_validate.Tax_Appraised_Value, y_validate.TAV_pred_median)**(1/2)

In [31]:
print("RMSE using Median\nTrain/In-Sample: ", round(rmse_train, 2), 
      "\nValidate/Out-of-Sample: ", round(rmse_validate, 2))

RMSE using Median
Train/In-Sample:  691143.84
Validate/Out-of-Sample:  700429.04